body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.block-user, .login, .registro{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.login, .registro{
    gap:35px;
    position: relative;
}
.login{
    margin-top: 120px; 
}
.block-user{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px ;
    position: relative;
    overflow: hidden; 
}
input{
    border-style: none;
    outline-style: none;
    background-color: inherit;
}
a{
    
    color: inherit;
    opacity: .8;
}
i{
    padding-left: .5em;
}

[type="button"]{
    cursor: pointer;
    padding: .3em 2em;
    background-color: var(--bgc-green-ligth);
    color: var(--bgc-pastel-ligth);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
[type="text"],[type="password"]{
    background-color: inherit;
    padding: .3em;
}

.group{
    border: 1px solid rgb(0, 19, 4);
    border-radius: 5px;
}

.login{
    font-size: 1.2rem;
}

.block{
    width: 100%;
    height: 250px;
    margin-bottom: 1em;
    background-color: var(--bgc-green-dark);
    left: 0;
    top: -125px;
    border-radius: 50%;
    position: absolute;
    box-shadow: var(--bgc-green-ligth) 1.95px 1.95px 2.6px;
    z-index: 200;
}

 

.icon{
    position: absolute;
    font-size:5rem;
    color: white;
    top: 50;
    z-index: 100;
    bottom: 10px;
    left: 100px;
}

