:root{
    --bgc-green-dark:#113F67;
    --bgc-green-ligth:#226597;
    --bgc-pastel-dark:#87C0CD;
    --bgc-pastel-ligth:#F3F9FB;
    --bgc-letter:white;
    --bgc-card:white;
    --bgc-orage:#EC6D00;

    --bgc-buttom:hsl(173, 100%, 21%) ;

    --fz-title:3rem;
    -fz-normal:1rem;


}

body{
    
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#444cf7 1.9500000000000002px, #e5e5f7 1.9500000000000002px);
    background-size: 39px 39px;
}

.bgc-white{
   background-color: white;
}

