.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 0.5);
    transition: all 500ms ease;
}

.hidden{
    opacity: 0;
    visibility: none;
};
.visible{
    opacity: 1;
    visibility: visible;
}
.contenedor{
    background-color: white;
    width: 50%;
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}
.modal__header{
    position: relative;
    margin: 0;
    background-color: #dbdbdb;
    width: 100%;
}
.modal__header button{
    text-decoration: none;
    color: inherit;
    position: absolute;
    right:0;
    top: 0;
    cursor: pointer;
    background-color: white;
}

.modal__header h2{
    margin: 0;
}