
body{
    color: white;
}
.header{
    background-color: var(--bgc-card);
    color: var(--bgc-green-dark);
    overflow: hidden;
}
.img__header{
    max-width: 10%;
}

.header, .balance, .modal__header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 2em;
    
}

.header__title{
    display: inline-block;
    text-align: center;
}
.fas{
    font-size: 30px;
}

.main{
  display: grid;
  grid-template-columns: repeat(3, .5fr);
  grid-template-rows: repeat(3, 3fr);
  justify-content: center;
  align-content: center;
  color: var(--bgc-pastel-dark);
}
.peso{

    place-self: center;
    grid-column: 1 / 2;
}
.dolar{
   
    place-self: center;
    align-self: start;
}
 img{
    max-width: 50%;
} 
.security{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}
/* .dolare{
    grid-column: 2/3;
    grid-row: 2 /3;
    background-color: red;
  
} */
.main > section,aside{
   display: flex;
   flex-direction: column;

   align-items: center;
}

.peso{
    justify-content: left;
}

.peso__title,.dolares__title{
    padding: .1em .6em; 
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--bgc-letter);
    
}
.peso__title{
    background-color: var(--bgc-green-dark);
}
.dolares__title{
    background-color: var(--bgc-orage);
}
/* .fas, .far{
    font-size: 2em;
    vertical-align: middle;
    color: var(--bgc-green-dark);
} */
.card > .fas,.far{
    font-size: 3em;
    vertical-align: middle;
    padding: .5em;
}
.card > .fas{
    color: var(--bgc-green-dark);
}
.card > .far{
    color: var(--bgc-orage);
    
}
.card, .balance{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 30px;
    
}
.card{
    background-color: var(--bgc-card);
    border-left: 6px solid var(--bgc-green-dark);
}
.card-orage{
    border-color: var(--bgc-orage);
}
.card-green{
    border-color: var(--bgc-green-dark);
}
.card a, .balance a{
    list-style: none;
    text-decoration: none;
    color: var(--bgc-letter);
    padding: .5em 1em;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bgc-buttom);
    box-shadow: 2px 2px 10px rgba(0 0 0 / .5);
    margin-bottom: 1em;
}
.card div{
    height: 100%;
    padding: 1em 2em;
}
h3{
    color: black;
    display: inline;
    text-align: center;
    display: block;
}


.balance{
    width: 60%;
    background-color: white;
    
}
.balance a{
    display: block;
}
.balance__cantidad{
    font-size: var(--fz-title);
    font-weight: bold;
    color: rgb(197, 197, 26);
    text-align: center;
    vertical-align: top;
  
}
.balance__cantidad::after{
    content: "$";
    color: inherit;
}
.balance__sudtitle{
    font-size: var(--fz-normal);
}




/** css modal*/

 .modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 0.5);
    
}

.hidden{
    opacity: 0;
    visibility: none;
    display:none;
    transition: all 500ms ease;
    
};
.visible{
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease;

}
.contenedor{
    background-color: white;
    width: 50%;
    position: relative;
    transform: translateY(-30%);
    transition: all 500ms ease;
    border-radius: 5px;
}
.modal__header{
    position: relative;
    margin: 0;
    background-color: var(--bgc-green-dark);
    width: 100%;
   
}
.modal__header button{
    text-decoration: none;
    color: white;
    position: absolute;
    right:3px;
    top: 2px;
    cursor: pointer;
    background-color: white;
    background-color: #FF5733;
    outline: none;
    border-style: none;
    box-shadow: -2px 2px 5px red;
}

.modal__header h2{
    margin: 3em;
   font-size: 1.5rem;
   display: inline;
   text-align: center;
  
} 


.contenedor form{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    font-size: 1.5rem;

} 

.contenedor [type="submit"]{
    width: 30%;
    background-color: var(--bgc-buttom);
    border-style: none;
    color: white;
    padding: .5em 0em;
    border-radius: 5px;
    border-style: none;
    outline-style: none;
    cursor: pointer;   
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.contenedor [type="submit"]:hover{
  padding:.5em;
  background-color: rgb(2, 70, 62);
  transition: all 1s;

}
.contenedor [type="text"]{

    border-style: none;
    outline-style: none;
    
}
[type="submit"]{
    width: 50%;
    margin:0 auto;
}

.group-text{
    outline: 1px solid black;
    border: 2px solid #F3F9FB;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}
.item{
    cursor: pointer;
    display: block;

}
.item:hover{
    border-bottom: 2px solid gray;
}

.container-menu{
    position: absolute;
    background-color: rgba(238, 234, 234, .5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background-color: var(--bgc-green-dark);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;

}

.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}
.cont-menu a:hover{
    border-left: 5px solid #c7c7c7;
    background-color: #1f1f1f;
}

.btnMenu{
    position: absolute;
    right: 5px;
    top: 10px;
    color: white;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    font-size: 1.2rem;

}
