body{
    justify-content: flex-start;
    
}

.groups{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.groupForRegistro{
    display: flex;
 
    /* border-bottom: 1.7px solid var(--bgc-green-dark); */
    
 
}

.groupForRegistro label{
    margin-top: 2em;
    color: var(--bgc-green-dark);
    text-align: center;
}
.user, .date{
    margin-right: 2em;
    display: flex;
    gap: 30px;
    margin-top: 3em;
    flex-direction: column;
   
   
}
.registro{
    margin-top: 2em ;
}

.blockRegistro{
   margin: 0;
   width: 100%;
   background-color: var(--bgc-green-dark);
   height: 120px;
   position: absolute;
   top: -40px;
   left: 0;
   border-radius: 40%;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}
.groupForRegistro {
    position: relative;
   
   
}
.groupForRegistro label{
    
    position: absolute;
    top: -2.25em;
    left: 5px;
    transform: translateY(10px); 
    transition: transform 2s, var(--bgc-green-dark) .3s;
}

.groupForRegistro input{
    cursor: pointer;
    border-bottom: 1.8px solid var(--bgc-green-dark);
  
}

    
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label
{
    transform: translateY(-12px) scale(.7);
    transition: .5s;

}

.form__buttom{
    width: 50%;

    margin: 0 auto ;
}
.inputF{
    background-color: red;
}

@media screen and (max-width: 550px) {
    .groups{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
    body{
       display: flex;
       justify-content: flex-start;
       align-items: center;
    }
    .block-user{
        margin-top: 20px;
    }
}